<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
    .one_half {
      margin: 0 0 0 37%;
    }

    #searchPw {
      width: 14%;
    }

    #pageintro{
      background-color: #f8f8f8;
      padding-top : 7%;
    }

    .btn {
      width: 53%;
      padding: 1.5%;
      margin-bottom : 20px;
      background-color: #dbe5e7;
      border: 1px solid #8080805c;
    }

    #login{
      background-color:#5172df;
    }

    .btn:hover {
      border : 1px solid white;
      background-color: white;
      color : black;
    }

    input,
    button {
      color: #1a1111;
      border-color: transparent;
      display: block;
      widows: 100%;
      padding: 2.5%;
      width: 53%;
      border: 1px solid;
    }

    button {
      cursor: pointer;
    }

    img {
      width: 30px;
      height: 30px;
      float: left;
    }

    .btmspace-15 {
    margin-bottom: 40px;
    }
    
  </style>
  <body>
    <div
      class="bgded overlay"
      style="background-image: url('/images/child.jpg')"
    >
      <%- include('../partials/nav') %>
    </div>

    <div id="pageintro" class="wrapper clear">
      <div class="one_half">
        <h6 class="heading" style="color : black; font-family: NotoSansKR-Regular; margin-bottom: 40px;">로그인</h6>
        <form id="login-form" action="/login" method="post">
          <fieldset>
            <input
              class="btmspace-15"
              type="email"
              name="email"
              value
              placeholder="이메일을 입력해주세요"
              required
              autofocus
            />
            <input
              class="btmspace-15"
              type="password"
              name="password"
              value
              placeholder="비밀번호를 입력해주세요"
              required
            />

            <button
              id="login"
              type="submit"
              class="btn"
              style="font-weight: bold; color:white; padding:2.5%"
            >
              로그인
            </button>

            <div>
              <a href="/login/searchPassword" id="searchPw" style="color: black"
                >비밀번호를 잊으셨나요?</a
              >
            </div>

            <footer>
              <a
                href="/login/regist"
                id="mail"
                class="btn"
                style="text-align: center; font-weight: bold"
                ><img
                  src="/images/login/mail.png"
                  alt="메일가입"
                  title="메일가입"
                />이메일로 회원가입</a
              >
              <br />
              <a
                href="/login/kakao"
                id="kakao"
                class="btn"
                style="text-align: center; font-weight: bold"
                ><img
                  src="/images/login/kakao.png"
                  alt="카카오톡"
                  title="카카오톡"
                />KakaoTalk 로그인</a
              >
              <br />
              <a
                href="/login/naver"
                id="naver"
                class="btn"
                style="text-align: center; font-weight: bold"
                ><img
                  src="/images/login/naver.png"
                  alt="네이버"
                  title="네이버"
                />Naver 로그인</a
              >
            </footer>
          </fieldset>
        </form>
      </div>
    </div>

    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>
  </body>
</html>
