<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
    .one_half {
      margin: 0 0 0 37%;
    }

    #searchPw {
      width: 14%;
    }

    #pageintro{
      background-color: rgb(245, 243, 242);
    }

    .btn {
      width: 53%;
      padding: 1.5%;
      margin-bottom : 20px;
      background-color: #dbe5e7;
      border: 1px solid #8080805c;
    }

    .btn:hover {
      border : 1px solid white;
      background-color: white;
      color : black;
    }

    input,
    button {
      color: #1a1111;
      border-color: transparent;
      display: block;
      widows: 100%;
      padding: 2.5%;
      width: 53%;
      border: 1px solid;
    }

    input{
        margin-top : 40px;
    }

    #pageintro .heading {
      margin-bottom: 20px;
      font-size: 3rem;
    }

    button {
      cursor: pointer;
    }

  </style>
  <body>
    <div
      class="bgded overlay"
      style="background-image: url('/images/child.jpg')"
    >
      <%- include('../partials/nav') %>
    </div>

    <div id="pageintro" class="wrapper clear">
        <div class="one_half">
          <h6 class="heading"  style="color : black; font-family: sans-serif; margin-bottom: 40px;">비밀번호 찾기</h6>
          <form id="login-form" action="/login/searchPassword" method="post">
            <fieldset>
               <h4
                style="
                  font-family: sans-serif;
                  color : black;
                  margin: auto;
                "
               >
                새로운 비밀번호를 이메일을 통해 확인하세요.<br />
                로그인 후 <b>마이페이지 > 나의계정 > 비밀번호 설정</b><br />
                을 통해 비밀번호를 변경해주세요.
               </h4>
              <input
                class="btmspace-15"
                type="email"
                name="email"
                value
                placeholder="이메일을 입력해주세요"
                required
                autofocus
              />
              <br />
              <br />
              <button id="mail" type="submit" class="btn">
                비밀번호 재설정 메일 전송
              </button>
            </fieldset>
          </form>
        </div>
      </div>

    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>
  </body>
</html>
