<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/kidstalk.css">
  <style>
    #post_id, #post_hit{
      text-align:center;
      width : 10%;
    }

    #post_writer, #post_date{
      text-align : center;
      width : 15%;
    }

    #post_title{
      text-align : center;
    }

    #title {
      font-family:  NotoSansKR-Regular;
      margin: 20px auto;
      border: 1px solid #8080805c;
      padding: 12px 5px;
      width: 60%;
      float: left;
      color: #829da2;
      widows: 100%;
    }

    #body {
      font-family:  NotoSansKR-Regular;
      font-weight: bold;
      margin: 20px auto;
      margin-bottom : 10%;
      padding: 12px 5px;
      width: 100%;
      float: left;
      widows: 100%;
      height: 300;
    }

    .btn{
      cursor: pointer;
      padding-left : 3%;
      padding-right : 3%;
      margin-top : 2%;
      font-weight: bold;
      float : right;
      line-height: 1.7em;
    }

    #date{
        font-weight: bold;
        text-align: right;
        padding-right : 2%;
    }

    #back{
      float : left;
    }

    #update, #delete{
      text-align: center;
      width: 16%;
      color: white;
      margin-left: 2%;
      background-color: #5172df;
      border: 1px solid #8080805c;
    }

    i{  
        margin-bottom : 1%;
        margin-left : 1%;
        margin-right : 1%;
    }

    #comment{
      margin-top : 10%;
    }

    #comment-form{
      margin-top : 4%;
    }

    #comment-button{
      background-color: #5172df;
      width : 8em;
    }

    #nickname{
      margin : 1.5%;
      font-weight: bold;
    }

    #layer{
      margin-top: 2%;
      margin-bottom: 2%;
      padding : auto;
    }

    #deleteComment{
      margin-left : 90%;
      font-weight: bold;
    }

    #text{
      margin-left : 5%;
      margin-top : 1%;
    }

    .container{
    padding : 50px;
    min-width:  70%;
    background-color: white;
  }

  .row3{       
    background-color: #f8f8f8;    
  }

  </style>

  <body id="top">
    <div
      class="bgded overlay"
      style="background-image: url('/images/child.jpg')"
    > 

    <%- include('../partials/nav') %>
    </div>

  <div class="wrapper row3">
    <main class="hoc container clear">

     <form method="post" >
      <h1 style="font-family:  NotoSansKR-Regular">
        <a href="/register/enrollGarden/<%= post.id %>"><%= post.Garden.gardenname %></a>
      </h1>

      <hr style="margin-top:3% ;margin-bottom:3%"/>

      <h5 style="font-family:  NotoSansKR-Regular; font-weight: bold; margin-top:3%"><i class="fa-pencil-alt fa-fw fas"></i><%= post.User.nickname %> 
        
        <div id="date"><i class="fa-calendar fa-fw far"></i><span data-date-time="<%= post.createdAt %>"></span></div>
      </h5>

      <hr style="margin-top:3% ;margin-bottom:5%"/>
      <h4 style="display: inline;font-family:  NotoSansKR-Regular;">가든 유형 :</h4> <strong style="font-size : 20px; margin-left : 1.5%;"><%= post.gardentype %></strong><br>
      <h4 style="display: inline;font-family:  NotoSansKR-Regular;">가든 주소 :</h4> <strong style="font-size : 20px; margin-left : 1.5%;"><%= post.Garden.address %></strong><br>
      <h4 style="display: inline;font-family:  NotoSansKR-Regular;">원장명 :</h4> <strong style="font-size : 20px; margin-left : 1.5%;"><%= post.representative %></strong><br>
      <h4 style="display: inline;font-family:  NotoSansKR-Regular;">핸드폰번호 :</h4> <strong style="font-size : 20px; margin-left : 1.5%;"><%= post.User.phone %></strong><br>
      <h4 style="display: inline;font-family:  NotoSansKR-Regular;">가든번호 :</h4> <strong style="font-size : 20px; margin-left : 1.5%;"><%= post.gardenphone %></strong><br>
      
      <div style="margin-top : 6%;">
        <a id="back" class="btn" href="/register/enrollGarden">뒤로가기</a>
        <button id="update" type="submit" formaction="/register/enrollGarden/<%= post.id %>" class="btn" onclick="confirm('승인하시겠습니까?')?this.parentElement.submit():null;">가든 승인</button>
        <button id="update" type="submit" formaction="/register/enrollGarden/<%= post.id %>/reject" class="btn" onclick="confirm('거절하시겠습니까?')?this.parentElement.submit():null;">승인 거절</button>
      </div>
      </form>
    
    </main>
  </div>
    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>
  </body>

  <script src="/js/kidstalk.js"></script>
</html>