<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/star-rating-svg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <style>
      .banner{    
      border : 1px solid blue;
      background-color: #5172df;
      height : 150px;
      text-align: center;
      color : white;
      font-family: NotoSansKR-Regular;     
    } 
    #banner{
      margin-top : 1%;
    }
    
    #talk{
      margin-top : 2.5%;
    }           
    .container{
        padding : 50px 78.828px;
    }
    .subhead {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#updatemento {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  color: #6D6D72;
}

#updatemento input[type="text"],
input[type="submit"],
input[type="email"],
#gender,
textarea {
  border: 1px solid #8080805c;
  width: 100%;
  padding: 12px 5px;
  margin: 20px auto;
}

#updatemento input[type="submit"] {
  cursor: pointer;
}

.container {
  padding: 40px 0;
}

#footer {
  width: 100%;
}

.field {
  width: 100%;
  text-align: center;
}

#updatemento input[type="checkbox"] {
  display: inline;
  border: 1px solid #8080805c;
  width: 20%;
  cursor: pointer;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.item-list, .lang-list {
  float: left;
  width: 30%;
  border: 1px solid #8080805c;
  padding: 10px 5px;
  margin: 5px;
  display: inline;
  text-align: left;
  cursor: pointer;
}

.item-list:active {
  background-color: #8080805c;
  transition: 0.3s;
}

label {
  font-weight: bold;
}
.ref-sort ul{ 
    height : 50px;
    line-height : 50px;                   
    background : #f7f7f8;            
  }    
  .ref-sort a{        
    
    text-align : center;
    font-weight : bold;      
  }   
  .ref-sort div{
    display : inline;
    padding : 10px 10px;
    width : 20%;
    text-align : center;
  } 
  .ref-sort li{      
    text-align : center;
    height : 100%;            
    /* border-bottom : 2px solid #829DA2;       */
  }
  .nav {                  
    width : 50%;      
    margin : 0 auto;          
  }
  #image_section{
    width : 30%;            
  }
  #upload{
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #829DA2;
    cursor: pointer;
    border : 0;
    border-radius: .25em;
  }
  .navigation{
    text-align: center;
    margin-bottom : 30px;    
  }
  .nav{
    line-height: 130px;
    display : inline-block;
    width : 130px;
    height : 130px;
    border-radius: 50%;
    background-color : #8080808c;
    border : 2px solid gray;    
    margin : 0 70px;
    font-weight: bold;
  }
  .arrow{
    font-size : 20px;
  }

  #center{
    border : 2px solid  #0a40f5;
    background-color : #5172DF;
    color : white;
  }  
  .row3{       
    background-color: #f8f8f8;    
  }
  .container{
      padding : 6%;
      min-width : 80%;
    background-color : white;
    
  }
  .category{    
    text-align: center;    
    display : inline-block;
     width : 350px;
     height : 350px;
     border : 3px solid #8080805c;   
     font-weight : bold;
     font-size : 20px;            
     margin : 0 30px;          
  }
  .category:hover{
    text-decoration: none;
    background-color : #0c0c0c05;
    border-color : #0000007d;
  }
  .buttons{
    margin : 100px 0; 
    width : 100%;    
    text-align: center;
  }
  .icon{
    font-size : 50px;
    margin-top : 30%;
    transform: translateY(-50%);
  }
  .head{
    margin-top : -5%;
    color : black;    
  }
  .content{
    border-top : 2px solid #8080805c;
    width : 80%;
    margin : 0 auto;
    margin-top : 20px;
    padding : 10px 5px;
    font-size : 14px;
    color : black;
    font-weight : normal;    
  }
  .subcontent{
    font-size : 12px;
    color : gray;
    font-weight : normal;    
  }
  .description{    
    margin : 0 auto;
    width : 77.2%;
    border-top : 1px solid #8080805c;
    border-bottom : 1px solid #8080805c;
    margin-top : 30px;
    padding : 15px 0;
  }
  #navi{
    margin-top : -35px;
    margin-right : 30px;
    width : 8%;    
  }
  .unorder{
    display : inline-block;
  }
    </style>
  </head>      
  <body id="top">
    <div
      class="bgded overlay"
      style="background-image: url('/images/child.jpg')"
    > 
   
    <%- include('../partials/nav') %>
    </div>
    <div class="banner">
        <h2 id="talk" >유치원·어린이집 등록</h2> 
        <h5 id="banner" >유치원·어린이집을 키즈가든에 등록할 수 있습니다.</h5>
    </div>
  <div class="wrapper row3">
    <main class="hoc container clear">    
      
      <div class="navigation">
        <div class="nav" id = "center">등록 종류 선택</div>      
        <span class = "arrow">></span>
        <div class="nav">회원정보 입력</div>
        <span class = "arrow">></span>
        <div class="nav">등록 완료</div>
      </div>
      <div class="buttons">
        <a href="/register/parent" class = "category">
          <div class="icon"><i class="fas fa-user-friends"></i></div>
          <div class="head">학부모 등록</div>
          <div class="content">
            우리 아이가 다니는 유치원을 등록해 CCTV 열람 서비스를 이용하실 수 있습니다.            
          </div>
          <div class="subcontent">
            동일 아이디로 최대 3명 원생 등록 가능<br>
            하루 이용제한횟수 : 1번
          </div>
        </a>
        <a href="/register/garden" class = "category">
          <div class="icon"><i class="fas fa-school"></i></div>
          <div class="head">유치원•어린이집 등록</div>
          <div class="content">
            키즈가든에 유치원•어린이집을 등록해 학부모에게 안전한 기관임을 인증하실 수 있습니다.            
          </div>
          <div class="subcontent">
            동일 아이디로 최대 1개 유치원 등록 가능<br>
            하루 이용제한횟수 : 1번
          </div>
        </a>
      </div>
       <div class="description">
        <img  src="/images/navi.png" id = "navi"></img>
        <ul class = "unorder">
          <li>휴대폰 인증은 '마이페이지 > 나의 계정 > 휴대폰 인증'에서 가능합니다.</li>
          <li>입력하신 정보는 신청 사용자 확인을 위한 용도외에는 사용되지 않습니다.</li>
          <li>신청 결과는 '마이페이지 > 나의 계정 > 키즈가든 신청 현황 ' 에서 확인 가능합니다</li>
        </ul>
       </div> 
    </main>    
    </div>        
  </div>
  <div class="clear"></div>
    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>       
    </script>
  </body>  
</html>