<!DOCTYPE html>
<html lang="">

<head>
  <%- include('../partials/head') %>    
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <style>
   .searchlist{
       border-top : 2px solid black;
       padding : 10px 0;
       font-size : 18px;
       font-weight : bold;
       margin-top : 40px;
   }
   .num{
       font-weight : normal;
       color : red;
   }
   .container{
       padding : 0 10px;
   }
   .category{
       padding : 7px 5px;
       border-radius: 50%;
       background-color : #22d029bf;
       color : white;
       font-size : 12px;
   }
   .field{
       border : 1px solid #22d029bf;
       padding : 4px 5px;
       color : #22d029bf;
       font-size : 12px;
   }
   .container{
    font-weight : bold;       
   }
   .body{
        font-size : 12px;
   }
   .body{
       margin-top : 20px;
   }
   .icons{
       float : right;
       font-size : 16px;
   }
   .icons span, .right span{       
        text-align : center;        
   }
   
   select{
       display : inline;              
       padding : 10px 0;
       outline : none;
       width : 200px;
       border : none;
       border-bottom : 1px solid #80808033;
       margin-right : 20px;
       cursor : pointer;
   }

   .search{
    margin-bottom : 20px;
   }
   .fas{
        width : 30px;
        height : 30px;
        padding : 7px;       
        background-color : #80808033;
        border-radius : 50%;
        color : #22d029bf;        
        
   }
   .icon{
       color : #22d029bf;
   }
   .right{
       float : right;
       font-size : 14px;
   }
   .right span{
       font-size : 13px; 
       margin-right : 10px;      
   }
   .head{
       margin-top : 20px;
   }
  </style>      
</head>

<body id="top">  
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('/images/child.jpg');">
    <%- include('../partials/nav') %>
  </div>
  <!-- End Top Background Image Wrapper -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="search">
          <div class="head">지역</div>
          <select name="" id="">
              <option value="">서울특별시</option>
          </select>
          <select name="" id="">
            <option value="">강남구</option>
        </select>
        <select name="" id="">
            <option value="">논현동</option>
        </select>
      </div>
      <div id="map" style="width:100%;height:350px;"></div>
      <div class="searchlist">
          <span class="header">검색목록</span>
          <span class="num"><%= total %></span>
        <span class="right">
            <span><i class="fas fa-map-marker-alt"></i>지도</span>
            <span><i class="fas fa-home"></i>홈페이지</span>
            <span><i class="fas fa-star"></i>평점</span>          
        </span>                          
      </div>
      <hr>
      <div class="container">
        <% for(let i =0; i<info.length; i++) {%>
        <div class="head">
            <span class="category">유치원</span>
            <span class="field"><%= info[i].establish %></span>
            <span class="name"><%= info[i].kindername %></span>            
        </div>
        <div class="icons">                    
            <span><a href="" class = "icon"><i class="fas fa-map-marker-alt"></i></a></span>
            <span><a href="<%= info[i].hpaddr %>" class = "icon" target = '_blank'><i class="fas fa-home"></i></a></span>
            <span><a href="" class = "icon"><i class="fas fa-star"></i></a></span>
        </div>
        <div class="body">
            <span class="address"><%= info[i].addr %></span>           
            <br>            
            <span class="phone"><%= info[i].telno %></span>
        </div>
        <hr>
        <% } %>        
      </div>
      <div class="clear"></div>
    </main>
  </div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28f2f70ef1f0ab3e87563b70d829d265"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption); 
</script>           
    <%- include('../partials/foot') %>
    <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>                                                         
</body>

</html>