<!DOCTYPE html>
<html lang="">

<head>
  <%- include('../partials/head') %>    
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
   .searchlist{
       border-top : 2px solid black;
       padding : 10px 0;
       font-size : 18px;
       font-weight : bold;
       margin-top : 40px;
   }
   .num{
       font-weight : normal;
       color : red;
   }
   .gardenlist{
       padding : 0 10px;
   }
   .category{
       padding : 7px 5px;
       border-radius: 50%;
       background-color : #5172df;
       color : white;
       font-size : 12px;
   }
   .field{
       border : 1px solid #5172df;
       padding : 4px 5px;
       color : #5172df;
       font-size : 12px;
   }
   .gardenlist{
    font-weight : bold;       
   }
   .body{
        font-size : 12px;
   }
   .body{
       margin-top : 20px;
   }
   .icons{
       float : right;
       font-size : 16px;
   }
   .icons span, .right span{       
        text-align : center;        
   }
   
   select, #name{
       display : inline;              
       padding : 10px 0;
       outline : none;
       width : 200px;
       border : none;
       border-bottom : 1px solid #80808033;
       margin-right : 20px;
       cursor : pointer;
       font-weight : normal;
   }
   option{
       padding : 10px 0;       
       padding : 10px 0;
       outline : none;
       width : 200px;
       border : none;
   }

   .search{    
    margin-bottom : 20px;
   }
   .fas{
        width : 30px;
        height : 30px;
        padding : 7px;       
        background-color : #80808033;
        border-radius : 50%;
        color : #5172df;        
        text-align : center;
   }
   .icon{
       color : #5172df;
   }
   .right{
       float : right;
       font-size : 14px;
   }
   .right span{
       font-size : 13px; 
       margin-right : 10px;      
   }
   .head{
       margin-top : 20px;
   }
   .paging{
       text-align : center;
   }
   .page{
       color : black;
       border : 1px solid black;
       padding : 5px;
       font-size : 16px;
       font-weight : bold;
       cursor : pointer;
   }
   .submit{
       display : inline-block;
       border : 2px solid #80808033;
       padding : 10px 5px;
       width : 100px;
       background-color : white;
       cursor : pointer;
       font-weight : bold;
   }   
  #send{
      text-align : center;
      color : black;
  }
  .daycare{    
      background-color : #22d029bf;
  }
  .name{
      color : black;
  } 
  .row3{       
    background-color: #f8f8f8;    
  }
  .container{
      padding : 6%;
      min-width : 80%;
    background-color : white;
    
  }
  .garden{
      margin : 30px 0;
  }
  .pagination{
      margin-top : 5%;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .banner{    
      border : 1px solid blue;
      background-color: #5172df;
      height : 150px;
      text-align: center;
      color : white;
      font-family: NotoSansKR-Regular;     
    } 
    #banner{
      margin-top : 1%;
    }
    
    #talk{
      margin-top : 2.5%;
    }           
    .container{
        padding : 50px 78.828px;
    }
  </style>      
</head>

<body id="top">  
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('/images/child.jpg');">
    <%- include('../partials/nav') %>
  </div>
  <div class="banner">
    <h2 id="talk" class = "info">유치원·어린이집 정보</h2> 
    <h5 id="banner" class = "info">유치원·어린이집의 정보공시를 조회 할 수 있습니다</h5>
  </div>
  <!-- End Top Background Image Wrapper -->
  <div class="wrapper row3">      
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="search">
          <div class="head">구분</div>
          <form action="/garden/index" method = "get" id = "searchForm">
            <select name="type" id="">
                <option value="유치원">유치원</option>
                <option value="어린이집">어린이집</option>
            </select>
            <input type="text" name = "name" placeholder = "이름을 입력해주세요" id = "name">
            <input type="submit" value = "검색" class = "submit" id = "send">
          </form>

          <div class="head">지역</div>          
            <select name="sidocode" id="" class = "sidocode">                                            
                <option value="">전체</option>
                <% for(let i =0; i <sidos.length; i++) {%>
                    <% if(result.sidocode == sidos[i].sidocode){%>
                        <option value="<%= sidos[i].sidocode %>" selected><%= sidos[i].sidoname %></option>
                    <% } else{%>
                        <option value="<%= sidos[i].sidocode %>"><%= sidos[i].sidoname %></option>
                    <% } %>
                  
                <% } %>
            </select>
          
          
          <select name="sggcode" id="" class = "sggcode">              
              <% if(result.sidocode) {%>
                <option value=""><%= result.sggcode[0].SidoCode.sidoname %> 전체</option>
                <% for(let i =0; i<result.sggcode.length; i++) { %>
                    <% if(result.code == result.sggcode[i].sggcode) {%>
                        <option value="<%= result.sggcode[i].sggcode%>" selected><%= result.sggcode[i].sggname %></option>
                    <% } else {%>
                        <option value="<%= result.sggcode[i].sggcode%>"><%= result.sggcode[i].sggname %></option>
                    <% } %>                    
                <%  } %>
              <% } else { %>
                <option value="">전체</option>
              <% }  %>
                
            </select>                        
      </div>
      <div id="map" style="width:100%;height:350px;"></div>
      
        
      <div class="searchlist">
          <span class="header">검색목록</span>
          <span class="num"><%= total ?? 0 %></span>
        <span class="right">
            <span><i class="fas fa-map-marker-alt"></i>지도</span>
            <span><i class="fas fa-home"></i>홈페이지</span>
            <span><i class="fas fa-star"></i>평점</span>          
        </span>                          
      </div>
      <hr>
      <div class="gardenlist">
        
    <% if (result.gardens){ %>   
        <div class="garden">
        <% for(let i =0; i<info.length; i++) {%>
          
            <div class="head">
                <% if(info[i].gardentype == '어린이집'){ %>
                    <span class="category daycare"><%= info[i].gardentype %></span>
                <% } else { %>
                    <span class="category"><%= info[i].gardentype %></span>
                <% } %>
                
                <span class="field"><%= info[i].gardencategory %></span>
                <span class="name"><a href="<%= `/garden/${info[i].gardencode}` %>" class = "name"><%= info[i].gardenname %></a></span>            
            </div>
            <div class="icons">                    
                <span class = "location"><a href="" class = "icon "><i class="fas fa-map-marker-alt"><input type="hidden" value = "<%= info[i].latitude %>" class = "la"><input type="hidden" value = "<%= info[i].longitude %>" class = "lo"></i></a></span>
                <span><a href="<%= info[i].homepage %>" class = "icon" target = '_blank'><i class="fas fa-home"></i></a></span>
                <span><a href="" class = "icon"><i class="fas fa-star"></i></a></span>
            </div>
            <div class="body">
                <span class="address"><%= info[i].address %></span>           
                <br>            
                <span class="phone"><%= info[i].gardentel %></span>
            </div>
            <hr>         
        <% } %>        
      
      <% }else { %>
       <div class="head">해당하는 유치원이 없습니다.</div>
      <% } %> 
    </div>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="<%=`${page.startPage-1}`%>">«</a></li>
        <% for(let i =page.startPage; i<=page.endPage; i++) {%>        
        <li class="page-item"><a class="page-link" href="<%= `${i} `%>"><%= i %></a></li> 
        <%} %>       
        <li class="page-item"><a class="last page-link" href="<%= `${page.endPage+1} `%>" >»</a></li>
        </ul>
     
        
      
      
         
          
      <div class="clear"></div>
    </main>
  </div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=28f2f70ef1f0ab3e87563b70d829d265"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
let locate = document.getElementsByClassName('location');
let latitude = document.getElementsByClassName('la');
let longtitue = document.getElementsByClassName('lo');
let nextBtn = document.getElementsByClassName('last')[0];
let lastPage = parseInt(`<%= result.totalPage %>`) + 1;

 
let la = 126.570667
let lo = 33.450701;


console.log(la);
console.log(lo);
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(lo, la), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다 
var markerPosition  = new kakao.maps.LatLng(lo, la); 

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

var marker;

for(let i =0; i < locate.length; i++){
    locate[i].addEventListener('click', function (e){        
        e.preventDefault();
        document.getElementById('map').scrollIntoView();
        la = latitude[i].value;
        lo = longtitue[i].value;
        console.log(la);
        console.log(lo);
        // 마커가 표시될 위치입니다 
        var markerPosition  = new kakao.maps.LatLng(lo, la); 
        // 마커를 생성합니다
        marker = new kakao.maps.Marker({
            position: markerPosition,
            clickable : true
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        panTo(lo, la);
        
       
    })
}

function setCenter(la, lo) {            
    // 이동할 위도 경도 위치를 생성합니다 
    var moveLatLon = new kakao.maps.LatLng(la, lo);
    
    // 지도 중심을 이동 시킵니다
    map.setCenter(moveLatLon);
}

function panTo(la ,lo) {
    // 이동할 위도 경도 위치를 생성합니다 
    var moveLatLon = new kakao.maps.LatLng(la, lo);
    
    // 지도 중심을 부드럽게 이동시킵니다
    // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
    map.panTo(moveLatLon); 
    
    
} 

let sido = document.querySelector('.sidocode');
let sgg = document.querySelector('.sggcode');   
let optionTag;  
let content;
let search = document.getElementById('send');
let name = document.getElementById('name');
let searchForm = document.getElementById('searchForm');
search.addEventListener('click', (e) => {    
    e.preventDefault();
    if(!name.value){
        alert('이름을 입력해주세요');
        return;
    }

    searchForm.submit();
})
// Array.from(sido).foreach((sidocode) => {
    sido.addEventListener('change', (e) => {              
        let requestUrl = modifyUrl('sido', e.target.value);                      
        if(requestUrl.includes('&')){
            let andIndex = location.href.indexOf('&');
            let url = new URL(requestUrl);
            let value = url.searchParams.get('sido');            
            requestUrl =  requestUrl.substr(0, andIndex - value.length) + e.target.value;
            
        }   
        
        location.href = requestUrl;       
    })
// })

sgg.addEventListener('change', (e) => {    
        let href = sgg.value;            
        let requestUrl = modifyUrl('sgg', e.target.value);        
        if(requestUrl.includes('page')){
            let andIndex = location.href.lastIndexOf('&');
            let url = new URL(requestUrl);
            let value = url.searchParams.get('sgg');               
            requestUrl =  requestUrl.substr(0, andIndex - value.length) + e.target.value;                        
        }  
        console.log(requestUrl);                      ;
        location.href = requestUrl;        
})


let pages = document.getElementsByClassName('page-link');

for(const [key, page] of Object.entries(pages)){
    page.addEventListener('click', (e) => {
    e.preventDefault();
        
    let currentUrl = location.href;    
    let seperator;
    
    let pagingUrl;
    let newUrl;
    let index = e.target.href.lastIndexOf('/');
    let tagValue = e.target.href.substr(index+1, e.target.href.length-1);
    if(tagValue == lastPage){
        alert('마지막 페이지입니다.');
        return false;
    }else{
        let requestUrl = modifyUrl('page', tagValue);        
    console.log(requestUrl);
    location.href = requestUrl;
    }
    
    
});
}

const modifyUrl = (name, val) => {
   let currentUrl = location.href;
   let seperator;
   let newUrl;
   
   if(currentUrl.includes(name)){       
    console.log('포함하곳에서 오류')
       let url = new URL(currentUrl);
       let value = url.searchParams.get(name);    
       let removeUrl;  
       if(!value) {           
         let index = currentUrl.indexOf(name);
         newUrl = currentUrl.substr(0, index + name.length + 1) + val;         
       }else{
        let index = currentUrl.indexOf(value);              
        removeUrl = currentUrl.substr(0, index);        
        newUrl = removeUrl + val;  
       }                        
       
   }else{
       console.log('포함하고 있지 않은 오류')
       if(currentUrl.includes('type') && name != 'page'){    
           console.log('here');
         let typeIndex = currentUrl.indexOf('type');         
         newUrl = currentUrl.substr(0, typeIndex) + name + '=' + val;
       }else{           
        console.log('there');
        if(name == 'page'){
            seperator = currentUrl.includes('?') ? '&' : '?'; // page
            newUrl = currentUrl + seperator + `${name}=` + val;
        }else if (name == 'sido'){
            let requestUrl = new URL(currentUrl);
            let host = requestUrl.origin;
            let path = requestUrl.pathname;
            let finalUrl = host + path + '?' + name + '=' + val;
            console.log(requestUrl);
            console.log(finalUrl);
            return finalUrl;
            
        }else{
            seperator = currentUrl.includes('?') ? '&' : '?'; // page
            newUrl = currentUrl + seperator + `${name}=` + val;
        }
        
       }              
   }

   return newUrl;
}

nextBtn.addEventListener('click', (e) => {
    e.preventDefault();
    let url = e.target.href;
    let value = url.charAt(url.length-1);        
})

// let kinderCode = document.getElementsByClassName('name')[0];

// kinderCode.addEventListener('click', (e) => {
//     e.preventDefault();
//     console.log(e.target.href);
// })



</script>           
    <%- include('../partials/foot') %>
    <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>                                                         
</body>

</html>