<!DOCTYPE html>
  <html lang="">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- 차트 링크 -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <style>
    
    .button{
  text-align : center;  
}
.box{  
  display : inline-block;  
  margin : 0 100px;
}
.navbutton{
  width : 100%;
  font-size : 20px;
  font-weight : bold;
  color : white;
}
.navbutton:hover .box{
  color : #829DA2;
  transition: 0.3s;

  filter: brightness(120%);
}

.leftbox{
  margin-right : 30px;
}

.title{  
  font-weight: bold;
}
.section{
  border : 1px solid black;
}
.morebutton{
  text-align: right;
  border : 1px solid red;
}

.title_link{
  cursor: pointer;
}
.head{  
  font-size : 20px;
  font-weight : bold;
}
.sub_title{
  margin : 30px 10px;
  display: inline-block;
  width : 20%;
  padding: 10px;
  border : 1px solid #ffffff78;
}

.desc{
  font-size : 18px;
}
.articles{  
  width : 100%;
}
.article{
  display : inline-block;
  width : 48%;
  padding : 10px;
  margin : 10px 5px;
}
.image{
  border : 1px solid black;
  width : 200px;
  height : 200px;
  float : right;
}
.img{
  top : 0;
  width : 100%;
  border : 1px solid black;
  float : right;
}

.name{
  font-family: NotoSansKR-Regular;
  font-size: 24px;
  font-weight : bold;
}
.info{
  display : inline-block;
  width : 60%;
  font-weight : bold;
}
.link{
  color : black;
}
.address{
  margin-top : 20px;
}
.phone{
  margin-top : 10px;
}
.name{
  font-size : 20px;
}
.fa-star{
  color : #F6EC11;
  font-size : 20px;
}
.star{
  margin-top : 30px;
}
.score{
  font-weight : bold;
}
.kindergarden{
  display : block;  
  margin : 0 auto;
  margin-top : 50px;    
  width : 300px;
}

.heading{
  font-family: NotoSansKR-Regular;
}

.overlay::after{
  background-color: rgba(0,0,0,0);
}
.total{      
  width : 100%;
  height : 400px;  
}

.picture{  
  width : 50%;
  float : left;  
  
}
.statistic{    
  text-align : center;
  float : left;
  width : 50%;      
  border-right : 1px solid #D7D7D7;
}
.row3{       
    background-color: #f8f8f8;    
  }
  .container{
    padding : 6%;
    min-width : 80%;
    background-color : white;    
  }  
  .card-body{      
    display : flex;
    align-items: center;  
    width : 70%;
    border : none;
  }
  select{
       text-align : center;
       display : inline;              
       padding : 10px;              
       width : 40%;
       border : none;
       border : 1px solid #D7D7D7;       
       cursor : pointer;
       font-weight : normal;
       margin : 0 10px;
   }
   option{
       padding : 10px 0;       
       padding : 10px 0;       
   }
   .card{
    display : flex;
    align-items: center; 
   }
   .all{
     list-style : none;
   }
   .title{
     font-size : 18px;
     padding : 10px;
     text-align : left;
     font-weight : bold;
   }
   .garden{     
    width : 60%;     
     margin : 0 auto;  
     font-weight : bold;  
     font-size : 18px;         
   }
   
   #blue{
     display : inline-block;
     width : 15px;
     height : 15px;
     background-color : #5172df;     
   }
   #pink{
    display : inline-block;
     width : 15px;
     height : 15px;
     background-color : pink;        
   }   
   .right{
     float : right;
   }  
   .number{
     text-align : left;     
   }
   .picture{        
   }
   .type{
     display : inline-block;     
     border : 1px solid #D7D7D7;
     width : 40%;     
     padding : 8px 0;     
     cursor : pointer;
   }   
   .checked{
     background-color : #5172df;
     color : white;
   } 
   .gae{
     font-weight : normal;
     font-size : 16px;
   }  
   .content{
     margin : 0 auto;     
   }
   .unordered{     
     margin-top : 1%;
   }
   .list{     
     margin : 0 auto;
     width : 60%;
     padding : 10px 0;
     list-style-type: none;     
     font-weight : bold;     
   }
   .childrenImage{          
     width : 35%;    
   }
   .childImage{
     text-align: center;
   }
   .childButton{
     text-align : center;
     margin-top : 1%;
   }
   .interval{
     margin : 0 auto;
     height : 10px;
     width : 100%;
     background-color : #d7d7d736;
   }     
   .totalContain{
     background-color: white;
   }   
   .hoc{
     padding : 3%;
   }
   .custom-select{
    text-align : center;
       display : inline;              
                   
       width : 40%;
       border : none;
       border : 1px solid #D7D7D7;       
       cursor : pointer;
       font-weight : normal;
       margin : 0 10px;
       height : 40px;
   }
  </style>
</head>

<body id="top">

  <%- include('../partials/nav') %>
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/images/child.jpg');">

  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h1 class="heading">어린이집 안전 서비스</h1>
      <p id = "story">우리 아이가 유치원에서 잘 지내는지 궁금하신가요? <br>키즈가든에서 안전한 유치원을 골라 확인하세요!</p>
      <footer></footer>
    </article>    
    <!-- ################################################################################################ -->
  </div>

</div>

<div class="wrapper row3">
  <main class="hoc container clear shit">
    <div class="title">
      <span class = "head">선택한 지역의 어린이집 및 유치원 현황</span>           
    </div>
    <hr>
  <div class="total">
    <div class="statistic">            
      <div class="contain">
        <select name="sidocode" id="" class="sidocode custom-select">
          <option value="">전체</option>            
          <% sidos.forEach((sido) => {%>
           <option value="<%= sido.sidocode %>"><%= sido.sidoname %></option>
           <% }) %>
        </select>
        <select name="sggcode" id="" class="sggcode custom-select">
          <option value="">전체</option>
        </select>
        <div class="card" style = "border : none">
          <div class="card-body "> <canvas id="myChart2"></canvas> </div>        
        </div>
        <div class="number">
          <div class="garden"> 
            <span class="left">
              <span id = "blue"></span>
              <span >유치원</span>                        
            </span>          
            <span class="right">
              <span class = "num">9055</span>            
              <span class = "gae">개원</span>
            </span>                             
          </div>
          <div class="garden"> 
            <span class="left">
              <span id = "pink"></span>
              <span >어린이집</span>                        
            </span>                         
            <span class="right">
              <span class = "num">53258</span>            
              <span class = "gae">개원</span>
            </span>             
          </div>
        </div>
      </div>
      
    </div>
    <div class="line"></div>
    <div class="picture">
      <div class="childImage">
        <img src="/images/children.png" alt="" class = "childrenImage">
      </div>      
      <div class="childButton">
        <div class="checked type">유치원</div>
        <div class="type">어린이집</div>
      </div>
      <div class="content">
        <span class="left">  
          <ul class = "unordered kinder">
            <li class = "list">
              공립(병설)
              <span class="right">
                <span class="childnum"><%= childCount[0] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              공립(단설)
              <span class="right">
                <span class="childnum"><%= childCount[1] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              사립(사인)
              <span class="right">
                <span class="childnum"><%= childCount[2] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              사립(법인)
              <span class="right">
                <span class="childnum"><%= childCount[3] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              국립
              <span class="right">
                <span class="childnum"><%= childCount[4] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
          </ul> 
          <ul class = "unordered daycare hidden">
            <li class = "list">
              민간
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[0] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              국공립
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[1] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              사회복지법인
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[2] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              법인•단체등
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[3] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              직장
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[4] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              가정
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[5] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
            <li class = "list">
              협동
              <span class="right">
                <span class="daycarenum"><%= dayCareCount[6] %></span>
                <span class="gae">개원</span>
              </span>
            </li>
          </ul>                                       
        </span>                  
      </div>
    </div>    
  </div>
  
  </main>
  </div>
  <div class="interval"></div>
  <div class="wrapper row2">
    <main class="division hoc container clear">
      <div class="totalContain">
        <div class="title">
          <span class = "head">주위에 유치원을 찾아보세요</span>
          <a class = "title_link">++더 보기</a>      
      </div>
      
      <hr>
      
      <div class="articles">
        <a href="" class = "link">
          <div class="article">
            <div class="info">
              <h2 class = "name">전주 유치원</h2>
              <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
              <div class="address">전주시 덕진구 금암동 1273-28</div>
              <div class="phone">031-286-1482</div>
            </div>
            <div class="image">
              <img src="" alt="" class = "img">
            </div>
            <div class="star">
              <i class="fas fa-star"></i>
              <span class = "score">X 4.7</span>
            </div>
      
          </div>
        </a>
        <a href="" class = "link">
          <div class="article">
            <div class="info">
              <h2 class = "name">전주 유치원</h2>
              <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
              <div class="address">전주시 덕진구 금암동 1273-28</div>
              <div class="phone">031-286-1482</div>
            </div>
            <div class="image">
              <img src="" alt="" class = "img">
            </div>
            <div class="star">
              <i class="fas fa-star"></i>
              <span class = "score">X 4.7</span>
            </div>
      
          </div>
        </a>
        <hr>
        <a href="" class = "link">
          <div class="article">
            <div class="info">
              <h2 class = "name">전주 유치원</h2>
              <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
              <div class="address">전주시 덕진구 금암동 1273-28</div>
              <div class="phone">031-286-1482</div>
            </div>
            <div class="image">
              <img src="" alt="" class = "img">
            </div>
            <div class="star">
              <i class="fas fa-star"></i>
              <span class = "score">X 4.7</span>
            </div>
      
          </div>
        </a>
        <a href="" class = "link">
          <div class="article">
            <div class="info">
              <h2 class = "name">전주 유치원</h2>
              <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
              <div class="address">전주시 덕진구 금암동 1273-28</div>
              <div class="phone">031-286-1482</div>
            </div>
            <div class="image">
              <img src="" alt="" class = "img">
            </div>
            <div class="star">
              <i class="fas fa-star"></i>
              <span class = "score">X 4.7</span>
            </div>
      
          </div>
        </a>
      </div>
    
  </main>
  </div>
  
  <!-- <div id="latest" class="group">
    <article>

    </article>
  </div> -->
  <!-- ################################################################################################ -->

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const select = document.querySelector('.sidocode');
  const sggTags = document.querySelector('.sggcode');
  const count = document.getElementsByClassName('num');
  const type = document.getElementsByClassName('type');

  select.addEventListener('change', async (e) => {
    try{        
      const result = await axios.post('/', {sidoCode : e.target.value});      
      while ( sggTags.hasChildNodes() ) { sggTags.removeChild( sggTags.firstChild ); }
      
      if(typeof result.data.sggs == 'object'){
        let option = document.createElement('option');
        let text = document.createTextNode('전체');
        option.appendChild(text);
        option.setAttribute('value', select.value);
        sggTags.appendChild(option);
        for(let i =0; i <result.data.sggs.length; i++){
          let option = document.createElement('option');
          let text = document.createTextNode(result.data.sggs[i].sggname);
          option.appendChild(text);
          option.setAttribute('value', result.data.sggs[i].sggcode);
          sggTags.appendChild(option);
        }        
      }else{
        let option = document.createElement('option');
        let text = document.createTextNode('전체');
        option.appendChild(text);
        option.setAttribute('value', select.value);
        sggTags.appendChild(option);
      }    
    let gardens = result.data.gardens;
    let childCount = gardens.childGardens.count;
    let dayCareCount = gardens.dayCareGardens.count;
    drawDoughnutChart(childCount, dayCareCount);
    modifyText(childCount, dayCareCount);

    modifyValue('daycarenum', result.data.dayCareCount);
    modifyValue('childnum', result.data.childCount);    
    }catch(err){
      console.error(err);
    }
  })

  sggTags.addEventListener('change', async(e) => {
    try{            
      const result = await axios.post(`/${e.target.value}`, {sggCode : e.target.value, sidoCode : select.value});
      
      let gardens = result.data.gardens;
      let childCount = gardens.childGardens.count;
      let dayCareCount = gardens.dayCareGardens.count;
      drawDoughnutChart(childCount, dayCareCount);      
      modifyText(childCount, dayCareCount);

      modifyValue('childnum', result.data.childCount);
      modifyValue('daycarenum', result.data.dayCareCount);
      }catch(err){
        console.error(err);
      }
  })

  const modifyValue = (className, values) => {
    const type = document.getElementsByClassName(className);    
    for(let i =0; i<type.length; i++){
      type[i].innerHTML = values[i];
    }
  }

  const modifyText = (childCount, dayCareCount) => {
      count[0].innerHTML = childCount;
      count[1].innerHTML = dayCareCount; 
  }

  const deleteChild = (tagName) => {
   const tag = document.querySelector(tagName);
   while(tag.hasChildNodes()){
     tag.removeChild(tag.firstChild);
   }
  }

  // const createCategory = (categories) => {
  //   deleteChild('.unordered');
  //   for(let i =0; i < categories.length; i++){
  //     let span = document.createElement('span');
  //     span.className = 'right';
  //     let numSpan = document.createElement('span');
  //     numSpan.className = 'num';
  //     let gaeSpan = document.createElement('span');
  //     gaeSpan.className = 'gae';
  //     let numSpanText = document.createTextNode('4490');      
  //     let gaeSpanText = document.createTextNode('개원');
  //     numSpan.appendChild(numSpanText);
  //     gaeSpan.appendChild(gaeSpanText);
  //     span.appendChild(numSpan);
  //     span.appendChild(gaeSpan);
  //     let li = document.createElement('li');      
  //     li.className = 'list';
  //     let text = document.createTextNode('공립(병설)');
  //     li.appendChild(text);
  //     li.appendChild(span);      
  //   }
  // }
  let ul = document.getElementsByClassName('unordered');
  for(let i =0; i<type.length; i++){
    type[i].addEventListener('click', (e) => {            
      let className = e.target.className;
      if(i == 0){
        if(!className.includes('checked')){
          e.target.classList.add('checked');
          ul[0].classList.remove('hidden');
          type[1].classList.remove('checked');          
          ul[1].classList.add('hidden');          
        }      
      }else{
        if(!className.includes('checked')){
          e.target.classList.add('checked');
          ul[1].classList.remove('hidden');
          type[0].classList.remove('checked');
          ul[0].classList.add('hidden');
        }      
      }
      
      
      
    })
  }
  
  

  const drawDoughnutChart = (childCount = 9055, dayCareCount = 53258) => {
    data = {
        datasets: [{
          backgroundColor: ['#5172df', 'pink'],
          data: [childCount, dayCareCount]
        }],
        options: {
          responsive: true,
          legend: {
              display: false,
          }
        },
    centerText: { // 현재 안됨
        display: true,
        text: "hello world"
    }         
        
  }; // 가운데 구멍이 없는 파이형 차트
        
        var ctx2 = document.getElementById("myChart2"); 
        var myDoughnutChart = new Chart(ctx2, { type: 'doughnut', data: data, options: {
            cutoutPercentage: 80, 
            animation : {
              animateRotate : true
            },            
          },
         
        }); 

  }
  drawDoughnutChart();
  
</script>


<%- include('../partials/foot') %>
 
<%- include('../partials/copyright') %>

<%- include('../partials/top') %>
</body>
</html>
