<!DOCTYPE html>
  <html lang="">
<haed>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <style>
    .button{
  text-align : center;
}
.box{  
  display : inline-block;  
  margin : 0 100px;
}
.navbutton{
  width : 100%;
  font-size : 20px;
  font-weight : bold;
  color : white;
}
.navbutton:hover .box{
  color : #829DA2;
  transition: 0.3s;

  filter: brightness(120%);
}

.leftbox{
  margin-right : 30px;
}

.title{
  font-family: sans-serif;
  font-weight: bold;
}
.section{
  border : 1px solid black;
}
.morebutton{
  text-align: right;
  border : 1px solid red;
}

.title_link{
  cursor: pointer;
}
.head{
  font-family : sans-serif;
  font-size : 30px;
  font-weight : bold;
}
.sub_title{
  margin : 30px 10px;
  display: inline-block;
  width : 20%;
  padding: 10px;
  border : 1px solid #ffffff78;
}
.statistic{
  text-align : center;
}
.desc{
  font-size : 18px;
}
.articles{
  width : 100%;
}
.article{
  display : inline-block;
  width : 48%;
  padding : 10px;
  margin : 10px 5px;
}
.image{
  border : 1px solid black;
  width : 200px;
  height : 200px;
  float : right;
}
.img{
  top : 0;
  width : 100%;
  border : 1px solid black;
  float : right;
}
/* .desc{
  font-size : 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.name{
  font-size: 24px;
  font-weight : bold;
}
.info{
  display : inline-block;
  width : 60%;
  font-weight : bold;
}
.link{
  color : black;
}
.address{
  margin-top : 20px;
}
.phone{
  margin-top : 10px;
}
.name{
  font-size : 20px;
  font-family: sans-serif;
}
.fa-star{
  color : #F6EC11;
  font-size : 20px;
}
.star{
  margin-top : 30px;
}
.score{
  font-weight : bold;
}
.kindergarden{
  display : block;  
  margin : 0 auto;
  margin-top : 50px;    
  width : 200px;
  
}
  </style>
</haed>

<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('/images/child.jpg');">

  <%- include('../partials/nav') %>
  
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h1 class="heading" style="font-family: sans-serif;">어린이집 안전 서비스</h1>
      <p id = "story">우리 아이가 유치원에서 잘 지내는지 궁금하신가요? <br>키즈가든에서 안전한 유치원을 골라 확인하세요!</p>
      <footer></footer>
    </article>
    <div class="button">
      <a href="/garden" class = "navbutton">        
        <div class="box leftbox">          
          <img src="/images/search_kindergarden.png" alt="" class = "kindergarden">
          유치원 검색
        </div>
      </a>
      <a href="#" class = "navbutton">
        
        <div class="box rightbox">
          <img src="/images/my_kindergarden.png" alt="" class = "kindergarden">
          나의 유치원
        </div>
      </a>
    </div>

    <!-- ################################################################################################ -->
  </div>

</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row4 statistic">

  <!-- ################################################################################################ -->
  <div class="sub_title">
      <h2 class = "head">20000</h2>
      <span class = "desc">등록된 유치원 수</span>
  </div>
  <div class="sub_title">
      <h2 class = "head">20000</h2>
      <span class = "desc">등록된 사용자 수</span>
  </div>
  <div class="sub_title">
      <h2 class = "head">20000</h2>
      <span class = "desc">등록된 리뷰 수</span>
  </div>

  <!-- ################################################################################################ -->

</div>
<div class="wrapper row3">
<section class="hoc container clear">  
  <div class="title">
      <span class = "head">주위에 유치원을 찾아보세요</span>
      <a class = "title_link">++더 보기</a>
  </div>
  <hr>

  <div class="articles">
    <a href="" class = "link">
      <div class="article">
        <div class="info">
          <h2 class = "name">전주 유치원</h2>
          <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
          <div class="address">전주시 덕진구 금암동 1273-28</div>
          <div class="phone">031-286-1482</div>
        </div>
        <div class="image">
          <img src="" alt="" class = "img">
        </div>
        <div class="star">
          <i class="fas fa-star"></i>
          <span class = "score">X 4.7</span>
        </div>

      </div>
    </a>
    <a href="" class = "link">
      <div class="article">
        <div class="info">
          <h2 class = "name">전주 유치원</h2>
          <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
          <div class="address">전주시 덕진구 금암동 1273-28</div>
          <div class="phone">031-286-1482</div>
        </div>
        <div class="image">
          <img src="" alt="" class = "img">
        </div>
        <div class="star">
          <i class="fas fa-star"></i>
          <span class = "score">X 4.7</span>
        </div>

      </div>
    </a>
    <hr>
    <a href="" class = "link">
      <div class="article">
        <div class="info">
          <h2 class = "name">전주 유치원</h2>
          <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
          <div class="address">전주시 덕진구 금암동 1273-28</div>
          <div class="phone">031-286-1482</div>
        </div>
        <div class="image">
          <img src="" alt="" class = "img">
        </div>
        <div class="star">
          <i class="fas fa-star"></i>
          <span class = "score">X 4.7</span>
        </div>

      </div>
    </a>
    <a href="" class = "link">
      <div class="article">
        <div class="info">
          <h2 class = "name">전주 유치원</h2>
          <div class="desc">꿈과 희망이 가득한 전주 유치원으로 놀러오세요!</div>
          <div class="address">전주시 덕진구 금암동 1273-28</div>
          <div class="phone">031-286-1482</div>
        </div>
        <div class="image">
          <img src="" alt="" class = "img">
        </div>
        <div class="star">
          <i class="fas fa-star"></i>
          <span class = "score">X 4.7</span>
        </div>

      </div>
    </a>

  </div>
  <!-- <div id="latest" class="group">
    <article>

    </article>
  </div> -->
  <!-- ################################################################################################ -->
</section>
</div>
<div class="wrapper row2">
<main class="hoc container clear">
  <!-- main body -->
  <!-- ################################################################################################ -->
  <section id="introblocks">
    <div class="sectiontitle">
      <h6 class="heading">Quisque adipiscing</h6>
      <p>Urna sed augue class aptent taciti sociosqu ad litora torquent</p>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <article><a href="#"><i class="fas fa-golf-ball"></i></a>
          <h6 class="heading">Suspendisse</h6>
          <p>Per conubia nostra per mauris aliquet massa nulla facilisi porta ligula non elementum</p>
          <footer><a class="btn" href="#">More Details</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-ribbon"></i></a>
          <h6 class="heading">Inceptos</h6>
          <p>Ultricies justo urna egestas metus ut ornare leo augue pharetra risus morbi tincidunt massa</p>
          <footer><a class="btn" href="#">More Details</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-tablets"></i></a>
          <h6 class="heading">Himenaeos</h6>
          <p>Ac vestibulum rutrum orci augue iaculis nibh quis porta nunc nisi suscipit leo nam ac lacus</p>
          <footer><a class="btn" href="#">More Details</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-wine-glass"></i></a>
          <h6 class="heading">Facilisis</h6>
          <p>Cras tempor ultricies urna aliquam massa sapien posuere in iaculis adipiscing vulputate</p>
          <footer><a class="btn" href="#">More Details</a></footer>
        </article>
      </li>
    </ul>
  </section>
  <!-- ################################################################################################ -->
  <!-- / main body -->
  <div class="clear"></div>
</main>
</div>
<div class="wrapper row3">
<section id="references" class="hoc container clear">
  <!-- ################################################################################################ -->
  <div class="sectiontitle">
    <h6 class="heading">Aliquet vestibulum</h6>
    <p>Eget magna eget sem imperdiet tincidunt vestibulum fringilla nulla</p>
  </div>
  <nav class="ref-sort">
    <ul>
      <li class="current"><a href="#">Ultricies</a></li>
      <li><a href="#">Curabitur</a></li>
      <li><a href="#">Porttitor</a></li>
      <li><a href="#">Pulvinar</a></li>
    </ul>
  </nav>
  <ul class="nospace group ref-img">
    <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
    <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
    <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
    <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
    <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
    <li class="one_third"><a class="imgover" href="#"><img src="images/demo/348x261.png" alt=""></a></li>
  </ul>
  <footer class="block center"><a class="btn" href="#">View more here</a></footer>
  <!-- ################################################################################################ -->
</section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
<section id="testimonials" class="hoc container clear">
  <!-- ################################################################################################ -->
  <div class="sectiontitle">
    <h6 class="heading">Donec condimentum</h6>
    <p>Adipiscing justo nulla mollis iaculis tortor in mauris integer</p>
  </div>
  <div class="group">
    <article class="one_half first"><img src="images/demo/80x80.png" alt="">
      <blockquote>Pretium duis viverra malesuada mi proin iaculis mauris eu sodales cursus sapien erat pharetra justo vitae volutpat eros magna et magna mauris hendrerit pellentesque.</blockquote>
      <h6 class="heading font-x1">A. Doe</h6>
      <em>Et ipsum mattis ipsum</em></article>
    <article class="one_half"><img src="images/demo/80x80.png" alt="">
      <blockquote>Pellentesque pretium proin molestie erat in rhoncus posuere nibh quam consectetuer lectus ac vulputate ligula lorem ut dolor duis tempus mauris nunc et ligula ut.</blockquote>
      <h6 class="heading font-x1">B. Doe</h6>
      <em>Tortor suscipit convallis</em></article>
  </div>
  <!-- ################################################################################################ -->
</section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
<article class="hoc cta clear">
  <!-- ################################################################################################ -->
  <h6 class="three_quarter first">Sed ullamcorper arcu eu ante ut sollicitudin sem sit amet</h6>
  <footer class="one_quarter"><a class="btn" href="#">Ipsum fusce non pede</a></footer>
  <!-- ################################################################################################ -->
</article>
</div>

<%- include('../partials/foot') %>
 
<%- include('../partials/copyright') %>

<%- include('../partials/top') %>
</body>
</html>
