<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>  
  
  <title>Document</title>
  <style>
    video{
        width : 700px;     
    }
    
    .icons{     
        width : 700px;   
        text-align: center;
    }
    .icon{                
        font-size : 24px;        
        margin : 0 30px;
        margin-top : 20px;
        cursor : pointer;
    }
    #rate{
        display : none;
        position : absolute;
        color : yellow;
        font-size : 16px;
        font-weight : bold;
        padding : 5px 10px;
        right : 33%;
        transition: 0.3s;
    }
    select{
       display : inline;              
       padding : 10px 0;
       outline : none;
       width : 300px;
       border : none;
       border-bottom : 1px solid #0000003b;
       margin-right : 20px;
       margin-bottom : 20px;
       cursor : pointer;
       font-size : 20px;
       font-weight : bold;
   }
   #head{
       font-size : 18px;
       font-weight: bold;
       margin-bottom : 10px;
   }
   .datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 19px;  
}
.contain{
      width : 270px;
    }
    .clock{
      border-radius : 5px;
      padding : 5px 10px;
      border : 1px solid black;
      width : 100%;
    }
    .date{
      text-align : center;
    }
    .time{
      display : inline-block;
      padding : 5px 15px;      
      border : 1px solid black;
      font-size : 20px;
    }
    .fas{
      padding : 5px 10px;
      font-size : 20px;
      cursor : pointer;
    }
    .colon{
      margin : 0 15px;
      font-weight : bold;
      margin-bottom : 15px;
    }
    .middle{
      margin : 0 50px;
    }
    .clockHead{
      font-weight : bold;
      font-size : 20px;
    }
    .button{
      text-align :center;

    }
    button{
      background-color : #5172DF;
      color : #fff;
      border : 1px solid white;
    } 

  </style>
</head>
<body id = "top">
    <div
      class="bgded overlay"
      style="background-image: url('/images/child.jpg')"
    >
      <%- include('../partials/nav') %>

      <div id="breadcrumb" class="hoc clear">
        <h6 class="heading" style="font-family: NotoSansKR-Regular;">가든 정보 관리</h6>
        <br />
        <ul>
          <li><a href="/index">메인</a></li>
          <li><a href="#">마이 페이지</a></li>
          <li><a href="/mypage/gardenManage/info">가든 정보 관리</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
        <main class="hoc container clear">
          <!--네비게이션-->
          <div class="sidebar one_quarter first">
              <div id = "head">카메라</div>
            <nav class="sdb_holder">
              <ul>                
                <% if(fileList.data){ %>                  
                  <% for(let i = 0; i < fileList.data.length; i++) { %>
                    <li><a href= "<%= fileList.data[i] %>" class = "rooms"><%= fileList.data[i]  %></a></li>        
                  <% } %>
                <% } %>
              </ul>
            </nav>
          </div>
  
          <!--본 문-->
          <div class="content three_quarter">
            <select name="" id="select" class = "">            
              <% gardens.forEach((garden) => { %>                
                <option value="<%= garden.gardencode %>"><%= garden.Garden.gardenname %></option>
              <% }) %>
            </select>            
            <div class="containerBox">        
                <div class="videoBox">
                    <span id = "rate">배속 : x<span id = "value">1.7배</span></span>                    
                    <video id = "video1" src="<%= url + '/videos/2021/06/09/' + fileList.data[0] %>" controls></video>
                    
                   
                    <div class="icons">
                        <i class="fas fa-chevron-circle-left icon" id = "slow"></i>
                        <i class="fas fa-chevron-circle-right icon" id = "fast"></i>                
                    </div>                        
                </div>
                <div class="contain">
                  <div class="clock">
                    <div class="clockHead">시간 선택</div>
                    <hr>
                    <div class="date">
                      <i class="fas fa-chevron-up up"></i>
                      <i class="fas fa-chevron-up middle up"></i>
                      <i class="fas fa-chevron-up up"></i>
                      <br>
                      <div class="time" id = "hour">12</div><span class = "colon">:</span>
                      <div class="time" id = "minute">30</div><span class = "colon">:</span>
                      <div class="time" id = "second">38</div>
                      <br>
                      <i class="fas fa-chevron-down down"></i>
                      <i class="fas fa-chevron-down middle down"></i>
                      <i class="fas fa-chevron-down down"></i>
                    </div>
                  </div>
                  <div class="button">
                    <button id = "timeButton">적용</button>
                  </div>
                </div>  
                 
            </div>   
          </div>
          <div class="clear"></div>
        </main>
      </div>

    
    
  
  
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script>
      let video1 = document.querySelector('#video1');
      let rateTag = document.querySelector('#rate');
      let rateValueTag = document.querySelector('#value');
      let roomsTag = document.getElementsByClassName('rooms');
      let velocity = 1;
      let address;

      let fastIcon = document.querySelector('#fast');
      let slowIcon = document.querySelector('#slow');
      fastIcon.addEventListener('click', () => {                  
          if(velocity == 16){
            showEffect();
            return;
          };        
          velocity *=2;
          showEffect();
          video1.playbackRate = velocity;                    
          setTimeout(disappearEffect, 2000)
          
      })
      slowIcon.addEventListener('click', () => {                    
          if(velocity == 0.125){
            showEffect();
            return;
          };          
          velocity /= 2;          
          showEffect();
          setTimeout(disappearEffect, 2000)
          video1.playbackRate = velocity;
      })
      const playRate = (tagName, value) => {                    
          tagName.playBackRate = value;
      }
      const disappearEffect = () => {        
          rateTag.style.display = 'none';          
      }
      const showEffect = () => {
        rateValueTag.innerHTML = velocity;
        rateTag.style.display = 'inline';          
      }

      for(let i =0; i < roomsTag.length; i++){
          roomsTag[i].addEventListener('click', (e) => {
            e.preventDefault();
            // address = e.target.href;
            // address = address.replace('/', '');
            video1.src = e.target.href;             
          })
      }

      let upIcon = document.getElementsByClassName('up');
    let downIcon = document.getElementsByClassName('down');
    let hour = document.querySelector('#hour');
    let minute = document.querySelector('#minute');
    let second = document.querySelector('#second');


    upIcon[0].addEventListener('click', (e) => {
      if(hour.innerHTML == 23){
        hour.innerHTML = 0;
      }else{
        hour.innerHTML = (hour.innerHTML * 1) + 1;
      }
    })

    upIcon[1].addEventListener('click', (e) => {
      if(minute.innerHTML == 59){
        minute.innerHTML = 0;
      }else{
        minute.innerHTML = (minute.innerHTML * 1) + 1;
      }
    })

    upIcon[2].addEventListener('click', (e) => {
      if(second.innerHTML == 59){
        second.innerHTML = 0;
      }else{
        second.innerHTML = (second.innerHTML * 1) + 1;
      }
    })

    downIcon[0].addEventListener('click', (e) => {
      if(hour.innerHTML == 0){
        hour.innerHTML = 23;
      }else{
        hour.innerHTML = (hour.innerHTML * 1) - 1;
      }
    })

    downIcon[1].addEventListener('click', (e) => {
      if(minute.innerHTML == 0){
        minute.innerHTML = 59;
      }else{
        minute.innerHTML = (minute.innerHTML * 1) - 1;
      }
    })

    downIcon[2].addEventListener('click', (e) => {
      if(second.innerHTML == 0){
        second.innerHTML = 59;
      }else{
        second.innerHTML = (second.innerHTML * 1) - 1;
      }
    })

    const cctvs = document.getElementsByClassName('rooms');
    const video = document.getElementById('video1');
    
    for(let i = 0; i < cctvs.length; i++){
      cctvs[i].addEventListener('click', (e) => {
        e.preventDefault();             
        let index = e.target.href.lastIndexOf('/');
        let fileName = e.target.href.substring(index+1, e.target.href.length);                        
        video.src = `<%= url %>` + '/videos/2021/06/09/' + fileName;                
      })
    }
    let files = [];
    let fileName = [];
    if(roomsTag){
      for(let i =0; i < roomsTag.length; i++){        
        fileName = roomsTag[i].innerHTML.split('_');
        fileName[1] = fileName[1].substring(0, fileName[1].length-4);
        fileName[0] = fileName[0].substring(0, 4) + '-' + fileName[0].substring(4, 6) + '-' + fileName[0].substring(6, 8);
        files.push(fileName[0] + " " +  fileName[1]);        
      }
          
    }

    const timeButton = document.getElementById('timeButton');
    timeButton.addEventListener('click', (e) => {
      
      // let index = e.target.href.lastIndexOf('/');
      // let fileName = e.target.href.substring(index+1, e.target.href.length);                      
      let time = fileName[0] + ' ' + hour.innerHTML + ':' + minute.innerHTML + ':' + second.innerHTML;                    
      let times = [];
      let maxFile = {};
      files.forEach((file, index) => { 
        if((new Date(time) - new Date(file)) >= 0){          
          maxFile.fileName = file;
          maxFile.index = index;
          maxFile.time = (new Date(time) - new Date(file));
        }
      })             
      playFile(maxFile.index, roomsTag, maxFile);      
    })

    function playFile(index, roomsTag, maxFile){      
      let roomsIndex = roomsTag[index].href.lastIndexOf('/');
      let fileName = roomsTag[index].href.substring(roomsIndex+1, roomsTag[index].href.length);                        
      video.src = `<%= url %>` + '/videos/2021/06/09/' + fileName;  
      video.currentTime = maxFile.time / 1000;  
      video.play()   ;
    }

  </script>
</body>
</html>
